<h1>All of the songs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Released</th>
    <th>Released Year</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Action</th>
  </tr>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%=song.title%></td>
        <td><%=song.released%></td>
        <td><%=song.release_year%></td>
        <td><%=song.artist_name%></td>
        <td><%=song.genre%></td>
        <td><%= button_to 'Delete', song_path(song), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
