<h1>Songs#show</h1>

<ul>
<h2><%= @song.title %></h2>
<li><%= @song.artist_name %></li>
<li><%= @song.released%></li>
<li><%= @song.release_year if @song.released %></li>
<li><%= @song.genre %></li>
</ul>
